[report]
omit = 
	ci-helpers/*
	*/tests/*
	astropy_helpers/*
	ah_bootstrap.py
	plasmapy/setup_package.py
exclude_lines = 
	coveralls: ignore
	def __repr__
	raise NotImplementedError
	except NotImplementedError
        raise ImportError
	except ImportError
	except SyntaxError
