[report]
omit =
    ci-helpers/*
    */tests/*
    plasmapy/setup_package.py
    plasmapy/version.py
    plasmapy/_base_init.py
exclude_lines =
    coverage: ignore
    ImportError
    ModuleNotFoundError
    @numba.njit
