[report]
omit =
    ci-helpers/*
    */tests/*
    astropy_helpers/*
    ah_bootstrap.py
    plasmapy/setup_package.py
    plasmapy/version.py
exclude_lines =
    coverage: ignore
    ImportError
    ModuleNotFoundError
