Aditya Magarde <adityamagarde26@gmail.com>
Afzal Rao <50012451+thecasuist@users.noreply.github.com>
Angad Singh <angad88@hotmail.com>
Ankit Singh <Griffintaur@users.noreply.github.com>
Ankur Chattopadhyay <39518771+chttrjeankr@users.noreply.github.com>
Anthony Vo <voxxx266@umn.edu>
Antoine T <antoine.tavant@lpp.polytechnique.fr>
Apoorv Choubey <theapoorvs1@gmail.com>
BH4 <brycefore4@gmail.com>
Brigitta Sipocz <bsipocz@gmail.com> <b.sipocz@gmail.com>
Carol Zhang <carol.zhang@mail.mcgill.ca>
Chengcai Shen <chengcaishen@cfa.harvard.edu>
Colby Haggerty <colbych@udel.edu>
David Stansby <dstansby@gmail.com>
Dawa Nurbu Sherpa <dawa@Dawas-MacBook-Pro.local>
Dhawal Modi <utsavmodi10@gmail.com>
Diego Diaz <diego7319@users.noreply.github.com>
Dominik Stańczak <stanczakdominik@gmail.com>
Drew Leonard <andy.j.leonard@gmail.com>
Drozdov David <36568373+davemus@users.noreply.github.com>
Francisco Silva Pavon <silvapav@usc.edu>
Graham Goudeau <grahamgoudeau@gmail.com>
Jacob Deal <38059243+Jac0bDeal@users.noreply.github.com>
Jakub Polak <44603152+Ishinomori@users.noreply.github.com>
James Kent <james-kent@uiowa.edu>
Jasper Beckers <j.p.beckers@student.tue.nl>
Joao Victor Martinelli <jvmartinellis@gmail.com>
Julien Hillairet <julien.hillaire@cea.fr> <julien.hillairet@gmail.com>
Justin Bergeron <bergeron.just@gmail.com>
Kevin Montes <kjmontes1@gmail.com>
Khalil Bryant <35078079+KhalilBryant@users.noreply.github.com>
Leah <leaheinhorn@Leahs-MacBook-Air.local> <leaheinhorn@yahoo.com>
Ludovico_Bessi <ludovicobessi@gmail.com>
Manas Bedmutha <manasbedmutha98@gmail.com>
Michael Fischer <michael.fischer.13@cnu.edu>
Nabil Humphrey <nabilhumphrey@internode.on.net>
Neil Patel <neil123@gmail.com>
Nick Murphy <namurphy@cfa.harvard.edu> <namurphy@users.noreply.github.com>
Nismirno <daemonik92@yahoo.com>
P. L. Lim <2090236+pllim@users.noreply.github.com>
Pawel Marek Kozlowski <pawel@pmkozlowski.com>
Peter Heuer <pvheuer@gmail.com>
Piotr Kuszaj <peterkuszaj@gmail.com>
Poh Zi How <poh.zihow@gmail.com>
Raajit Raj <raajit.raj@gmail.com>
Ramiz Qudsi <ahmadr@udel.edu>
Raymon Skjørten Hansen <raymon.s.hansen@gmail.com>
Ritiek Malhotra <ritiekmalhotra123@gmail.com>
Roberto Díaz Pérez <r.r.1994a@gmail.com>
Samaiyah I. Farid <38890767+samaiyahfarid@users.noreply.github.com>
Sean Carroll <seanwilliamcarroll@gmail.com>
Sean Chambers <schambers80@gmail.com>
Siddharth <think.siddharth@gmail.com>
Stuart Mumford <stuart@cadair.com>
Thomas Fan <thomasjpfan@gmail.com>
Thomas Ulrich <tmulrich1@gmail.com>
Thomas Varnish <5612615+tvarnish@users.noreply.github.com>
Tiger Du <56400881+Tiger-Du@users.noreply.github.com>
Volken <the.shadow.anonyme@gmail.com>
Yi-Min Huang <yopology@yahoo.com>
cclauss <cclauss@bluewin.ch>
flaixman <biel_nadal@hotmail.com>
goodab <goodab@uw.edu>
hzxusx <hzxusx@gmail.com>
jams2 <me@joshuamunn.com>
lgoenner <lgoenner@users.noreply.github.com>
misupova <marija.isupova@gmail.com>
nrb1324 <nrb1324@hotmail.com>
rocco8773 <eteverson@gmail.com>
samurai688 <sam.langendorf@gmail.com>
savcheva <43857770+savcheva@users.noreply.github.com>
