Nick Murphy <namurphy@cfa.harvard.edu> <namurphy@users.noreply.github.com>
Dominik Stańczak <stanczakdominik@gmail.com>
Pawel Marek Kozlowski <pawel@pmkozlowski.com>
samurai688 <sam.langendorf@gmail.com>
ritiek <ritiekmalhotra123@gmail.com>
Drew Leonard <andy.j.leonard@gmail.com>
Nick Murphy 
David Stansby <dstansby@gmail.com>
Julien Hillairet <julien.hillaire@cea.fr> <julien.hillairet@gmail.com>
Roberto Díaz Pérez <r.r.1994a@gmail.com>
Thomas Fan <thomasjpfan@gmail.com>
jasperbeckers <j.p.beckers@student.tue.nl>
Jasper Beckers <j.p.beckers@student.tue.nl>
Colby Haggerty <colbych@udel.edu>
Pawel Kozlowski <pawel@pmkozlowski.com>
jams2 <me@joshuamunn.com>
Manas Bedmutha <manasbedmutha98@gmail.com>
Piotr Kuszaj <peterkuszaj@gmail.com>
Apoorv Choubey <theapoorvs1@gmail.com>
Ritiek Malhotra <ritiekmalhotra123@gmail.com>
pohzipohzi <poh.zihow@gmail.com>
Michael Fischer <michael.fischer.13@cnu.edu>
Antoine T <antoine.tavant@lpp.polytechnique.fr>
Ludovico_Bessi <ludovicobessi@gmail.com>
Siddharth <think.siddharth@gmail.com>
Stuart Mumford <stuart@cadair.com>
nrb1324 <nrb1324@hotmail.com>
Dawa Nurbu Sherpa <dawa@Dawas-MacBook-Pro.local>
Nabil Humphrey <nabilhumphrey@internode.on.net>
Poh Zi How <poh.zihow@gmail.com>
Sean Carroll <seanwilliamcarroll@gmail.com>
Thomas Ulrich <tmulrich1@gmail.com>
cclauss <cclauss@bluewin.ch>
hzxusx <hzxusx@gmail.com>
lgoenner <lgoenner@users.noreply.github.com>
misupova <marija.isupova@gmail.com>
Ankit Singh <Griffintaur@users.noreply.github.com>  <ankitsingh135@gmail.com>
BH4 <brycefore4@gmail.com>
Brigitta Sipocz <bsipocz@gmail.com>
Carol Zhang <carol.zhang@mail.mcgill.ca>
Chengcai Shen <chengcaishen@cfa.harvard.edu>
Francisco Silva Pavon <silvapav@usc.edu>
Graham Goudeau <grahamgoudeau@gmail.com>
Jacob Deal <38059243+Jac0bDeal@users.noreply.github.com>
Justin Bergeron <bergeron.just@gmail.com>
Leah <leaheinhorn@Leahs-MacBook-Air.local> <leaheinhorn@yahoo.com>
Neil Patel <neil123@gmail.com>
Nismirno <daemonik92@yahoo.com>
Raajit Raj <raajit.raj@gmail.com>
Samaiyah I. Farid <38890767+samaiyahfarid@users.noreply.github.com>
Sean Chambers <schambers80@gmail.com>
Yi-Min Huang <yopology@yahoo.com>
rocco8773 <eteverson@gmail.com>
savcheva <43857770+savcheva@users.noreply.github.com>
