include README.md
include LICENSE.md
include pyproject.toml

include plasmapy/tests/coveragerc
include CITATION.cff

recursive-include plasmapy *.json *.npy
recursive-include docs *
recursive-include licenses *

# Only for editable installs
prune plasmapy/_dev

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
