include README.md
include LICENSE.md
include setup.py
include pyproject.toml

include setup.cfg
include plasmapy/tests/coveragerc
include plasmapy/version.py

recursive-include plasmapy *.json *.npy
recursive-include docs *
recursive-include licenses *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
