name: plasmapy

channels:
  - astropy
  - conda-forge

dependencies:
  - python=3.7
  - numpy
  - scipy
  - astropy
  - h5py
  - matplotlib
  - mpmath
  - pandas
  - pillow
  - pip
  - xarray
  - pip:
    - docutils < 0.17
    - numpydoc
    - pytest
    - lmfit
    - pygments>=2.4.1
    - sphinx>2
    - sphinx-gallery
    - sphinx-automodapi
    - sphinx_rtd_theme
    - pytest-regressions
