# Required Packages w/ version
astropy >= 4.0
cached-property >= 1.5.2
h5py >= 2.8
lmfit >= 1.0.1
matplotlib >= 2.0
mpmath >= 1.0.0
numpy >= 1.18.1
pandas >= 1.0.0
scipy >= 1.2
setuptools >= 41.2
tqdm >= 4.56.0
xarray  >= 0.14.0
