/* Style for toctree in a table */
td .toctree-wrapper ul {
    margin-bottom: 0px !important;
    line-height: 18px !important;
    list-style: none !important;
    font-size: 16px;
}

td .toctree-wrapper ul li {
    list-style: none !important;
    margin-left: 0px !important;
}
