# Define comprehensive continuous integration (CI) checks to be
# performed periodically and on request.

name: comprehensive tests

on:
  schedule:
  - cron: 37 7 * * 1
  workflow_dispatch:
  pull_request:
    types: [labeled, opened, synchronize, reopened]
    branches:
    - main

permissions: {}

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:

  weekly:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'run comprehensive tests')) ||
      (github.event_name == 'schedule' && github.repository == 'PlasmaPy/PlasmaPy' && github.ref == 'refs/heads/main')

    strategy:
      fail-fast: false

      matrix:
        include:

        - name: Tests, Python 3.14, doctests, macOS
          nox-session: tests-3.14(all)
          python-version: '3.14'
          os: macos-latest

        - name: Tests, Python 3.13, Windows
          nox-session: tests-3.13(all)
          python-version: '3.13'
          os: windows-latest

        - name: Tests, Python 3.12, Ubuntu
          nox-session: tests-3.12(all)
          python-version: '3.12'
          os: ubuntu-latest

        - name: Tests, Python 3.14, lowest direct dependencies, Windows
          nox-session: tests-3.14(lowest-direct)
          python-version: '3.14'
          os: windows-latest

        - name: Tests, Python 3.13, lowest direct dependencies, macOS
          nox-session: tests-3.13(lowest-direct)
          python-version: '3.13'
          os: macos-latest

        - name: Tests, Python 3.12, lowest direct dependencies, Ubuntu
          nox-session: tests-3.12(lowest-direct)
          python-version: '3.12'
          os: ubuntu-latest

        - name: Packaging, Python 3.13, Ubuntu
          nox-session: build
          python-version: '3.13'
          os: ubuntu-latest

        - name: Packaging, Python 3.12, macOS
          nox-session: build
          python-version: '3.12'
          os: macos-latest

        - name: Import PlasmaPy, Python 3.14, macOS
          nox-session: import
          python-version: '3.14'
          os: macos-latest

        - name: Import PlasmaPy, Python 3.12, Windows
          nox-session: import
          python-version: '3.12'
          os: windows-latest

        - name: Check MANIFEST.in
          nox-session: manifest
          python-version: '3.14'
          os: ubuntu-latest

        - name: Lint
          nox-session: lint
          python-version: '3.14'
          os: ubuntu-latest

        - name: Documentation, Python 3.14, Windows
          nox-session: docs
          python-version: '3.14'
          os: windows-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v5
      with:
        persist-credentials: false

    - uses: ./.github/actions/run-nox-session
      with:
        nox-session: ${{ matrix.nox-session }}
        python-version: ${{ matrix.python-version }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
