# Define continuous integration (CI) checks to be performed during
# pull requests, such as running tests and building documentation.
#
# The checks are defined in noxfile.py. After installing uv, the checks
# can be run locally with
#
#    uvx nox -s '<nox-session>'
#
# where <nox-session> is replaced by the name of the session. Quotes are
# necessary around <nox-session> when it contains parentheses.

name: CI

on:
  push:
    branches:
    - main
    - stable
    - v*.*.*
    tags:
    - v*
  pull_request:
  workflow_dispatch:

permissions: {}  # disables all GitHub permissions for the workflow

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:

  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    strategy:
      fail-fast: false

      matrix:
        include:

        - name: Tests, Python 3.14, skip slow tests, doctests, Ubuntu
          # Doctests are run only for most recent Python (see noxfile.py)
          os: ubuntu-latest
          python-version: '3.14'
          nox-session: tests-3.14(skipslow)

        - name: Tests, Python 3.13, with code coverage, macOS
          os: macos-latest
          python-version: '3.13'
          nox-session: tests-3.13(cov)

        - name: Tests, Python 3.12, lowest direct dependencies, skip slow tests, Windows
          os: windows-latest
          python-version: '3.12'
          nox-session: tests-3.12(lowest-direct-skipslow)

        - name: Documentation, Python 3.14, Ubuntu
          os: ubuntu-latest
          python-version: '3.14'
          nox-session: docs

        - name: Static type checking with mypy, Python 3.14, Ubuntu
          os: ubuntu-latest
          python-version: '3.14'
          nox-session: mypy

        - name: Packaging, Python 3.14, Windows
          os: windows-latest
          python-version: '3.14'
          nox-session: build

        - name: Check workflow security with zizmor
          os: ubuntu-latest
          python-version: '3.14'
          nox-session: zizmor

        - name: Check consistency of pinned & project requirements
          os: ubuntu-latest
          python-version: '3.14'
          nox-session: validate_lockfile

    steps:

    - name: Checkout code
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Run Nox session ${{ matrix.nox-session }}
      uses: .github/workflows/run-nox-session.yml
      with:
        name: ${{ matrix.name }}
        nox-session: ${{ matrix.nox-session }}
        os: ${{ matrix.os }}
        python-version: ${{ matrix.python-version }}
