# Define continuous integration (CI) checks to be performed during
# pull requests, such as running tests and building documentation.
#
# The checks are defined in noxfile.py. After installing uv, the checks
# can be run locally with
#
#    uvx nox -s '<nox-session>'
#
# where <nox-session> is replaced by the name of the session. Quotes are
# necessary around <nox-session> when it contains parentheses.

name: CI

on:
  push:
    branches:
    - main
    - stable
    - v*.*.*
    tags:
    - v*
  pull_request:
  workflow_dispatch:

permissions: {}  # disables all GitHub permissions for the workflow

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:

        - name: Tests, Python 3.14, skip slow tests, doctests, Ubuntu
          # Doctests are run only for most recent Python (see noxfile.py)
          nox-session: tests-3.14(skipslow)
          python-version: '3.14'
          os: ubuntu-latest

        - name: Tests, Python 3.13, with code coverage, macOS
          nox-session: tests-3.13(cov)
          python-version: '3.13'
          os: macos-latest

        - name: Tests, Python 3.12, lowest direct dependencies, skip slow tests, Windows
          nox-session: tests-3.12(lowest-direct-skipslow)
          python-version: '3.12'
          os: windows-latest

        - name: Documentation, Python 3.14, Ubuntu
          nox-session: docs
          python-version: '3.14'
          os: ubuntu-latest

        - name: Static type checking with mypy, Python 3.14, Ubuntu
          nox-session: mypy
          python-version: '3.14'
          os: ubuntu-latest

        - name: Packaging, Python 3.14, Windows
          nox-session: build
          python-version: '3.14'
          os: windows-latest

        - name: Check workflow security with zizmor
          nox-session: zizmor
          python-version: '3.14'
          os: ubuntu-latest

        - name: Check consistency of pinned & project requirements
          nox-session: validate_lockfile
          python-version: '3.14'
          os: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v5
      with:
        persist-credentials: false

    - uses: ./.github/actions/run-nox-session
      with:
        nox-session: ${{ matrix.nox-session }}
        python-version: ${{ matrix.python-version }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
        codecov-token: ${{ secrets.CODECOV_TOKEN }}
