name: Run Nox session

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      nox-session:
        required: true
        type: string
      os:
        required: true
        type: string
      python-version:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: false
      CODECOV_TOKEN:
        required: false

permissions: {}

jobs:
  run-nox-session:
    name: ${{ inputs.name }}
    runs-on: ${{ inputs.os }}
    timeout-minutes: 15

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        persist-credentials: false

    - name: Use micromamba to install graphviz and pandoc from conda-forge for doc builds
      if: ${{ contains(inputs.nox-session, 'docs') }}
      uses: mamba-org/setup-micromamba@v2
      with:
        create-args: graphviz pandoc -c conda-forge
        init-shell: bash
        environment-name: micromamba-env
        cache-environment: true
        post-cleanup: all

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-suffix: ${{ inputs.nox-session }}-${{ inputs.python-version }}-${{ inputs.os }}

    - name: Install Python ${{ inputs.python-version }} via uv
      shell: bash
      run: uv python install ${{ inputs.python-version }}

    - name: Run Nox session ${{ inputs.nox-session }}
      shell: bash
      run: uv run noxfile.py -s '${{ inputs.nox-session }}'
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}

    - name: Upload coverage reports to Codecov
      if: ${{ contains(inputs.nox-session, 'cov') }}
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.xml
        fail_ci_if_error: false
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
