# Define continuous integration (CI) checks that are run against the
# most recent unreleased versions of upstream dependencies. The intention
# is to discover and address breaking changes before they make their way
# into a release. The checks are defined in noxfile.py.

name: upstream docs

on:
  schedule:
  - cron: 37 7 * * 1
  workflow_dispatch:
  pull_request:
    types: [labeled, opened, synchronize, reopened]
    branches:
    - main

permissions: {}

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:

  weekly:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    if: >-
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'build upstream docs')) ||
      (github.event_name == 'schedule' && github.repository == 'PlasmaPy/PlasmaPy' && github.ref == 'refs/heads/main')

    strategy:
      fail-fast: false

      matrix:
        include:

        - name: Documentation, Python 3.14, sphinx-dev, Ubuntu
          os: ubuntu-latest
          python: '3.14'
          nox_session: docs_upstream(sphinx)

        - name: Documentation, Python 3.14, sphinx_rtd_theme-dev, Ubuntu
          os: ubuntu-latest
          python: '3.14'
          nox_session: docs_upstream(sphinx_rtd_theme)

        - name: Documentation, Python 3.14, nbsphinx-dev, Ubuntu
          os: ubuntu-latest
          python: '3.14'
          nox_session: docs_upstream(nbsphinx)

        - name: Documentation, Python 3.14, plasmapy_sphinx-dev, Ubuntu
          os: ubuntu-latest
          python: '3.14'
          nox_session: docs_upstream(plasmapy_sphinx)

    steps:

    - name: Checkout code
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Install graphviz and pandoc
      uses: mamba-org/setup-micromamba@v2
      with:
        create-args: graphviz pandoc -c conda-forge
        init-shell: bash
        environment-name: micromamba-env
        cache-environment: true
        post-cleanup: all

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python }}
        enable-cache: true  # zizmor: ignore[cache-poisoning]
        cache-suffix: ${{ matrix.nox_session }}-${{ matrix.python }}-${{ runner.os }}

    - name: Run Nox session ${{ matrix.nox_session }}
      shell: bash -el {0}
      run: uvx nox -s '${{ matrix.nox_session }}'

    - name: Upload coverage reports to Codecov
      if: ${{ contains(matrix.nox_session, 'cov') }}
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.xml
        fail_ci_if_error: false
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
